body {
    background-color: #F6F6F6;
}

h1 {
    color: #8785A2;
    text-align: center;
}

.list {
    text-align: center;
    margin: 16px;
    padding: 8px;
}

.ul-food li {
    display: inline-block;
    padding: 6px;
    list-style-type: none;
}

img {
    border: 4px solid red;
    width: 500px;
    height: auto;
    display: block;
    margin: auto;
}