h1 {
    color: red;
}

.food {
    font-size: 10px;
    background-color: yellow;
    color: red;
    font-weight: bold;
    text-align: center;
}

.steak {
    font-size: 22px;
    text-align: left;
    color: green;
    background-color: red;
}